@model vocabadmin.Models.Vocabulary

@{
    int row = (int)ViewBag.RowNumber;
}

<table class="table" id="vocab_table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Word)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Word)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Word)</th>
        </tr>
    </thead>
    <tbody>
        @for(var i = 0; i < row; i++)
            {
                string idRow = "vocab_row_" + i.ToString();
                <tr id="@idRow">
                    <td scope="col">#</td>
                    <td scope="col">@Html.DisplayNameFor(m => m.Word)</td>
                    <td scope="col">@Html.DisplayNameFor(m => m.Word)</td>
                    <td scope="col">@Html.DisplayNameFor(m => m.Word)</td>
                </tr>
            }
    </tbody>
</table>